<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav>

    <a href="{{ url_for('index') }}">Главная</a>

    <a href="{{ url_for('counter') }}">
        Счётчик посещений
    </a>

    {% if current_user.is_authenticated %}

        <a href="{{ url_for('secret') }}">
            Секретная страница
        </a>

        <a href="{{ url_for('logout') }}">
            Выйти
        </a>

    {% else %}

        <a href="{{ url_for('login') }}">
            Войти
        </a>

    {% endif %}

</nav>

<hr>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="error-msg">
                {{ msg }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>