{% extends "base.html" %}

{% block content %}
<h2>Изменить пароль</h2>

<p>Пользователь: <b>{{ user.login }}</b></p>

<form method="post">
  <label for="password">Новый пароль:</label>
  <input id="password" type="password" name="password" class="form-control {% if errors.get('password') %}is-invalid{% endif %}" {% if errors.get('password') %}aria-describedby="password-feedback"{% endif %} required>
  {% if errors.get('password') %}
  <div id="password-feedback" class="invalid-feedback">{{ errors.get('password') }}</div>
  {% endif %}

  <label for="password_confirm">Повторите пароль:</label>
  <input id="password_confirm" type="password" name="password_confirm" class="form-control {% if errors.get('password_confirm') %}is-invalid{% endif %}" {% if errors.get('password_confirm') %}aria-describedby="password-confirm-feedback"{% endif %} required>
  {% if errors.get('password_confirm') %}
  <div id="password-confirm-feedback" class="invalid-feedback">{{ errors.get('password_confirm') }}</div>
  {% endif %}

  <button type="submit">Сохранить</button>
</form>
{% endblock %}
